{{!-- dont put a full html doc, like doc type. just the things in the body --}}

{{!-- <h1>static Header.hbs text</h1> --}}
{{!-- since the var name passed to the views are the same, the title will be different for each page --}}

{{!-- when you change this restart ndemon for some reason --}}

<header>

    <h1>{{title}}</h1>  
    <a href="/">weather</a>
    <a href="/about">about</a>
    <a href="/help">help</a>

</header>